# Includelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Ignore files from analysis and data
*/data/*
*/analysis/*


**/*.fastq.gz
**/*.bam
**/*bai


# Include script files
!*/scripts/*
# Include result script files
!*/results/*.Rmd
!*/results/*.R
!*/results/*.py
!*/results/**/*.Rmd
!*/results/**/*.R
!*/results/**/*.py
