###############################
### To be changed every run ###
###############################
wd=`pwd`
merged_gtf_basename="RMS"
create_annotation="TRUE"
simul_array_runs=10
iso_frac=0.05
min_occurence=3
min_tpm=1
#######################
### Reference files ###
#######################
resource_dir="/hpc/pmc_vanheesch/shared_resources/"
species="Homo_sapiens"
genome_version="GRCh38"
annot="102"
scriptdir="${resource_dir}/scripts/detect_isoform_pipeline"
reference_gtf="${resource_dir}/GENOMES/${species}.${genome_version}/${annot}/annotation/${species}.${genome_version}.${annot}.gtf"
refseq_gtf="${resource_dir}/GENOMES/${species}.${genome_version}/${annot}/annotation/${species}.${genome_version}.p13"
reference_genome="/${resource_dir}/GENOMES/${species}.${genome_version}/${annot}/${species}.${genome_version}.dna.primary_assembly.fa"
star_index_basedir="${resource_dir}/GENOMES/${species}.${genome_version}/${annot}/STAR/2.7.8a"
masked_fasta="${resource_dir}/GENOMES/${species}.${genome_version}/${annot}/${species}.${genome_version}.dna_sm.primary_assembly.fa"
twobit="${resource_dir}/GENOMES/${species}.${genome_version}/${annot}/${species}.${genome_version}.dna.primary_assembly.2bit"
kallisto_index="${resource_dir}/GENOMES/${species}.${genome_version}/${annot}/kallisto/0.44/kallisto_index"
data_folder="/hpc/pmc_vanheesch/data"
#######################
### Module versions ###
#######################
cutadapt_version=3.4
fastqc_version=0.11.9
trimgalore_version=0.6.6
star_version=2.7.8a
samtools_version=1.12
python_version=3.6.1
subread_version=2.0.2
stringtie_version=2.1.5
gffcompare_version=0.12.2
r_version=4.1.2
gffread_version=0.12.6
salmon_version=1.8.0
multiqc_version=1.11
###########################
### Resource allocation ###
###########################
low_mem=8G
medium_mem=48G
high_mem=200G
low_cpu=1
medium_cpu=6
high_cpu=16